# Database
DATABASE_URL="postgresql://user:password@localhost:5432/ddec_permisos?schema=public"

# ElevenLabs
NEXT_PUBLIC_ELEVENLABS_AGENT_ID=
ELEVENLABS_API_KEY=

# ArcGIS/Esri
NEXT_PUBLIC_ARCGIS_API_KEY=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
